.contact {
    display: flex;
    flex-direction: row;
    padding: 40px;
    color: $almostBlack;
    .contact__form {
        max-width: 48%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 2%;
        .contact__title {
            width: 100%;
            font-size: 24px;
        }
        .contact__form--left,
        .contact__form--right {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
        }
        .contact__input {
            border: 1px solid $lightgrey;
            padding: 2%;
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 16px;
        }
        .contact__label {
            font-size: 12px;
            text-align: center;
        }
        .contact__input--text {
            flex-basis: 100%;
            border: 1px solid $lightgrey;
            padding: 1% 0 20% 1%;
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 16px;
        }
        .contact__button {
            background-color: rgb(200, 2, 2);
            width: 88px;
            height: 39px;
            border: none;
            border-radius: 3px;
            color: #fff;
            margin: 0 auto;
        }
    @media screen and (max-width:768px){
        max-width: 100%;
        padding-bottom: 5%;
            }
    }
    .contact__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 50%;
        border-left: 2px solid $grey;
        .contact__title {
            font-size: 24px;
            padding-bottom: 34px;
        }
        .contact__title--small {
            text-transform: uppercase;
        }
        .contact__text {
            padding-bottom: 34px;
            font-size: 18px;
            line-height: 110%;
        }
        .contact__table {
            td {
                padding: 5px;
            }
        }
   @media screen and (max-width:768px){
        flex-basis: 100%;
       border: none;
            }
   @media screen and (max-width:768px){
        flex-direction: column;
            }
    }
      @media screen and (max-width:768px){
        flex-wrap: wrap;
            }
}









