.search {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    .search__container {
        background-color: $green;
        text-align: center;
    .search__title {
        color: #fff;
        font-size: 30px;
        display: inline-block;
        width: 20%;
        padding: 1%;
        text-align: center;
        @media screen and (max-width:768px){
        padding: 5px 0;
        width: 100%;
        }
    }
    .search__item {
        width: 20%;
        margin: 1%;
        padding: 8px 0;
        @media screen and (max-width:768px){
        width: 80%;
        margin: 1% 10%;
        }
    }
    .search__details {
        font-size: 18px;
        color: #fff;
        text-decoration: underline;
        text-underline-position: under;
        display: inline-block;
        width: 20%;
        padding: 1%;
        text-align: center;
        @media screen and (max-width:768px){
            width: 100%;
        }
    }
    }
    
    .search-more__container {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $grey;
        &:nth-of-type(3){
        background-color: $lightgrey;
        }
        .search-more__item,
        .search-more__item--empty,
        .search-more__item--green {
            text-align: center;
            flex-basis: 23%;
            margin: 1%;
            padding: 8px 0;
            font-size: 18px;
            font-family: "SKODANextArabic";
            font-weight: bold;
            .search__item {
                width: 100%;
                padding: 8px 0;
            }
                input[type="radio"] {
                    height: 12px;
                    width: 12px;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 1px solid $grey;
                    color: $black;
                }
        }
        .search-more__item--green {
            background-color: $lightgreen;
            margin: 0;
            padding: 1%;
            color: #fff;
        }
        
    @media screen and (max-width:768px){
        display: none;
            }

    } 
    
        .inactive {
        display: none;
    }

    .search__button {
        width: 20%;
        align-self: flex-end;
        margin: 1% 0;
        .search__button--item{
          background-color: $red;
          width: 88px;
          height: 39px;
            border: none;
            border-radius: 3px;
            color: #fff;
        }
        
        @media screen and (max-width:768px){
        display: none;
            }
    }
}




